---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";
import { render } from "astro:content";

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.filter((post) => !post.data.isDraft).map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
>
  <main class="mx-auto my-12 flex max-w-xl flex-col justify-center p-4">
    <h1 class="mb-1 text-2xl font-medium">{post.data.title}</h1>
    <p class="mb-5 text-lg font-medium text-neutral-600">{post.data.description}</p>
    <p class="mb-1 font-medium text-neutral-500">
      {formatDate(post.data.date)}
    </p>
    <article>
      <Content />
    </article>
  </main>
</Layout>